<h1>User Profile:</h1>
<div>
    <%=id%>
</div>
<div>
    <%=name%>
</div>
<div>
    <%=email%>
</div>
<form action="/logOut?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
